* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body{
    margin-left: 80px;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

li{
    margin-right: 30px;
    position: center;
    margin-top: -45px;
    list-style: none;
}

a:link {
   color: rgb(61, 58, 58);
   text-decoration: none;
  }

#center{
    background-color: white;
    text-align: center;
    padding: 10px 85px 15px;
    position:relative;
    margin-top: -28px;
    margin-left: 88px;
    width: 750px;
    height: 180px;   
}

h1{
    font-family:inherit ;
    font-size: 44px;
    font-weight: 500;
    color: #35733c;
}

h2{
    font-family:inherit ;
    font-size: 30px;
    font-weight: 500;
    color: rgb(59, 59, 59);
}

.orange{
    background-color: orangered;
    color: white;
    text-align:center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding-top:30px 0 0;
    font-size: 35px;
    position: relative;
    margin-left: 750px;
    font-family:cursive;
}

.orange.a{
    text-decoration: none;
}

.piccenter{
    margin-top:-100px;
}

.green{
    background-color: rgb(78, 151, 78);
    color: ivory;
    height:50px;
    width: 1100px;
    text-align: center;
    padding-right: 50px;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;;
}

#sop{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        font-size: 60px;
        color: rgb(240, 238, 238);
        font-weight: 400;
        background-color: rgb(19, 18, 18);
        width: 86.7%;
        height: 100%;
        text-align: center; }

.one{
   margin-right: 20px;}

.two{   
    padding-left: 155px;}

h4{
   padding: 90px;
   margin-top: -40px;
   padding-right: 200px;}

.pop{
    display: flex;
    align-content: space-around;
    border: lavenderblush;
}

.hop{
    width: 400px;
    height: 250px;}

p{
    font-size: 20px;
    height: 300px;
    width: 700px;
    font-size: 19px;
    font-family: monospace;
}

#werpp{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    font-size: 60px;
    color: rgb(240, 238, 238);
    font-weight: 400;
    background-color: rgb(19, 18, 18);
    width: 80%;
    height: 100%;
    text-align: center;
}

.tre{
     padding-left: 119px;
}
